In [ ]:
a=1
b=2
c=3

In [ ]:
d=a+b
print(d)

Exemplo de célula Markdown, utilizada para comentários.

# Tipos de dados em Python:
## Numéricos:
### inteiro: int /valor numérico sem casa decimal Ex.: 1982
### real/ponto flutiante: float /numérico com casa decimal Ex.: 3.14 OBS.: utilizar "." para números e não ","
## Não Numéricos:
### caractere/string: str /letras, textos ou "1984" Ex.: a, b, casa, "1982"
### lógico ou booleano: bool /True ou False

In [25]:
d=a+3.14
d

4.140000000000001

In [29]:
print("1985dia")

1985dia

In [31]:
d<1000

True

In [ ]:
print("f"+"t")

# Identificadores

### Regras para nomear/identificar variáveis, constantes e funções

### Utilizar letras de A a Z maiúsculas e minúsculas;
### Dígitos de 0 a 9;
### Símbulo underscore _

### Deve começar com uma letra ou com _

### Não deve conter espaços, caracteres especiais ou espaços;
### Pythton é case-sensitive, nota != Nota;

### Ex. válido: J, Dia_2, Data, A17;
### Ex. não válidos: Maçã, nome-user, 7User@;

### Boa prática, os identificadores devem ser simples e descrever precisamente variáveis, constantes e funções;
### Ex.: nome_user, salario, valor_inicial, 

### No PEP8, Guido van Rossum sugere que identificadores devem ter apenas letras munúsculas e _
### Ex.: nome_func, nome_user, perc_aumento;

## Variáveis

### Espaço na memória para que o pc possa armazenar dados que podem ser utilizador posteriormente;
### Atributos de uma variável: 
### Endereço na memória, Tipo(int, float, str, bool), identificador(nome);

## Criando uma variável;

### Informar nome e valor;
### Ex.: dia = 23; nome_aluno = "Lopes"
### OBS.: o tipo da variável é definido dinamicamente conforme o valor atribuído;
### O comnado type informa o tipo da variável
### Ex.: num_dia = 19; type(num_dia); int
### Ex.: valor_dia = 19.50 ; type(valor_dia); float
### Ex.: nome_dia = "sábado" ; type(nome_dia); str
### Ex.: sol_dia = True ; type(valor_dia); bool

In [35]:
num_dia=19
type(num_dia)

int

In [36]:
valor_dia = 19.50
type(valor_dia)

float

In [39]:
nome_dia = "sábado"
type(nome_dia)

str

In [41]:
sol_dia = True
type(sol_dia)

bool

## type casting Conversão de tipos
### Conversão entre tipos de dados
### Ex:
### int_string = str(5)
### string_float = float("3.14159")
### string_int = int("2019")
### int_bool = bool(17)
### --------------------------------------------------------
# Conversão para string(str)
### bool_string = str(True)
### bool_string2 = str(False)
### int_string = str(5)
### float_string = str(3.14159)
### --------------------------------------------------------
# Conversão para int
### string_int = int("2019")
### bool_int = int(True)
### bool_int2 = int(False)
### float_int = int(3.14149)
### string_int2 = int("101", 2)
### string_int3 = int("F0A23B", 16)
### --------------------------------------------------------
# Conversão para Float
### string_float = float("3.14159")
### string_float2 = float("3")
### bool_float = float(True)
### bool_float2 = float(False)
### int_float = float(15)
### --------------------------------------------------------
# Conversão para bool
### string_bool = bool("Python")
### string_bool2 = bool("True")
### string_bool3 = bool("False")
### int_bool = bool(17)
### int_bool2 = bool(0)
### float_bool = bool(3.14)
### float_bool2 = bool(0.0)
### --------------------------------------------------------

In [1]:
# Conversão par string(str)
bool_string = str(True)
bool_string2 = str(False)
int_string = str(5)
float_string = str(3.14159)

# Conversão para int
string_int = int("2019")
bool_int = int(True)
bool_int2 = int(False)
float_int = int(3.14149)
string_int2 = int("101", 2)
string_int3 = int("F0A23B", 16)

# Conversão para Float
string_float = float("3.14159")
string_float2 = float("3")
bool_float = float(True)
bool_float2 = float(False)
int_float = float(15)

# Conversão para bool
string_bool = bool("Python")
string_bool2 = bool("True")
string_bool3 = bool("False")
int_bool = bool(17)
int_bool2 = bool(0)
float_bool = bool(3.14)
float_bool2 = bool(0.0)

In [13]:
v=True
x=7
y=3.14
z="11"
#print(x, y, z)
print("v","=",v, type(v))
print("x","=",x, type(x))
print("y","=",y,type(y))
print("z","=",z,type(z))

v = True <class 'bool'>
x = 0 <class 'int'>
y = 3.14 <class 'float'>
z = 11 <class 'str'>

In [20]:
v=True
x=7
y=3.14
z="11"
#print(x, y, z)
print("Before v","=",v, type(v))
print("Before x","=",x, type(x))
print("Before y","=",y,type(y))
print("Before z","=",z,type(z))
print()
v=int(v)
x=bool(x)
y=str(y)
z=float(z)
print("After v","=",v, type(v))
print("After x","=",x, type(x))
print("After y","=",y, type(y))
print("After z","=",z, type(z))

Before v = True <class 'bool'>
Before x = 7 <class 'int'>
Before y = 3.14 <class 'float'>
Before z = 11 <class 'str'>

After v = 1 <class 'int'>
After x = True <class 'bool'>
After y = 3.14 <class 'str'>
After z = 11.0 <class 'float'>

In [35]:
#testes de conversão
teste = "777t"
print(teste, type(teste))
teste=bool(teste)
print(teste,type(teste))

777t <class 'str'>
True <class 'bool'>

## valor > 0 True, valor < 0 False
## valor str convertido para bool, sempre será True
## valor float convertido para int perde as casas após o "." de 3.14 == 3    
## valor float convertido para int perde as casas após o "." de 3.14 == 3

## Comentários
### --------------------------------------------------
### Comentário de bloco;
### Ex.: #comentário de bloco
###         comando1
###         comando2
###         comando...
### --------------------------------------------------
### comando x #comentário de linha
### --------------------------------------------------
### #comentário de várias linhas
### #linha 2
### #linha...
### --------------------------------------------------
### """
### comentário comentário comentário 
### comentário comentário comentário 
### comentário comentário comentário 
### """
### --------------------------------------------------

In [42]:
# exemplo de comentário de bloco
a = 1
b = 2

In [43]:
c = 3 # exemplode comentário de linha

In [44]:
# exemplo de comentário em várias linhas
# exemplo de comentário em várias linhas
# exemplo de comentário em várias linhas

In [55]:
'''
Comentário Comentário Comentário 
Comentário Comentário Comentário 
Comentário Comentário Comentário
'''
d=4
print(d)
type(d)

4

int

## Listas

### Devem ser criadas entre [ ];
### Também podem ser criadas com o comando x_1 = list(), a lista x_1 será criada, mas sem elementos;
### Pode conter int, float, bool e str;
### Valores str sempre entre " "; 
### Coleção de valores;
### Parecido com Vetor, mas pode ser alterada;
### A posição de cada elemento é chamada de índice;
### Primeiro elemento armazenado no índice "0", o último "n-1";
### "n" é o númeero de elementos da lista;
### -------------------------------------------------------
### índice           0    1    2  3   4    5     6     7
### elementos  23  56  7  8  90  25  13  -33
### índice          -8   -7  -6 -5 -4   -3    -2    -1
### -------------------------------------------------------
### Os elementos da lista podem ser acessados pelos índices "positivos" ou "negativos";

In [41]:
lst_1 = [1,2,3,"a",5,6,-7,True]
print(lst_1)
type(lst_1)
print("Elementos de lst_1", lst_1, type(lst_1))

[1, 2, 3, 'a', 5, 6, -7, True]
Elementos de lst_1 [1, 2, 3, 'a', 5, 6, -7, True] <class 'list'>

In [2]:
lst_2=[]
lst_3=list()
print(lst_2)
print(lst_3)
print("lst_2", type(lst_2))
print("lst_3", type(lst_3))

[]
[]
lst_2 <class 'list'>
lst_3 <class 'list'>

In [6]:
lst_4=list()
print(lst_4)

[]

In [13]:
lst_int=[-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7]
lst_float=[-7.3,-7.2,-7.1,7.7]
lst_str=["a","b","c","d","e","f"]
lst_bool=[True, False, True, False, True]
lst_mist=[-7,7,-3.7,3.14159,"a",True,False]
#lst_lst é um exemplo de lista aninhada;
lst_lst=[[-7,-6,-5,-4],[-7.2,-7.1,7],["a","b","c","d"],[True, False, True]]
print(lst_int)
print(lst_float)
print(lst_str)
print(lst_bool)
print(lst_mist)
print(lst_lst)
#type(lst_mist)

[-7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]
[-7.3, -7.2, -7.1, 7.7]
['a', 'b', 'c', 'd', 'e', 'f']
[True, False, True, False, True]
[-7, 7, -3.7, 3.14159, 'a', True, False]
[[-7, -6, -5, -4], [-7.2, -7.1, 7], ['a', 'b', 'c', 'd'], [True, False, True]]

In [20]:
t1=lst_int+lst_bool
print(t1)
type(t1)

[-7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, True, False, True, False, True]

list